{% extends '_base.html' %}

{% block pagetitle %}
 پاک کردن کتاب
{% endblock pagetitle %}

{% block content %}
 <div class="container mt-4">
        <div class="row">
        <div class="col-9">
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-title"> آیا اطمینان دارید?! </h5>
                    <p></p>
                    <p>   را به طور دائمی حذف کنید؟"{{ book.title }}" میخواهید!</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="بله حذف شود!">
                    </form>

                </div>
            </div>
        </div>
{% endblock content %}