{% extends '_base.html' %}
{% block page_title %} لیست کتابها {% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 20px;">
        {% for book in books %}
            <div class="col mb-4">
                <div class="card h-100 border-0 shadow">
                    <div class="card-body text-center">
                        <a href="{{ book.get_absolute_url }}"  class="card-title fs-5 fw-bold" dir="rtl">{{ book.title|capfirst }}</a>
                        <p class="card-text text-muted" dir="rtl">{{ book.content|truncatewords:21 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <button> <a href="{% url 'book_create' %}" class="btn btn-primary"> اضافه کردن کتاب</a></button>
    </div>
{% endblock %}
