{% extends '_base.html' %}

{% block page_title %}{{book.title}} جزییات کتاب{% endblock %}

{% block content %}
    <div class="book-details">
        <div class="book-header">
            <h1 class="title">{{ book.title }}</h1>
            <p class="author">By {{ book.author }}</p>
        </div>
        <div class="content">
            <p class="description">{{ book.content }}</p>
            <p>{{ book.price }}</p>
            <a href="{% url 'books_list' %}">لیست کتابها</a>
            <a  class= "btn btn-warning"  href= "{% url 'book_update' book.id %}">ویرایش</a>
             <a class= "btn btn-danger" href= "{% url 'book_delete' book.id %}">حذف!</a>
        </div>
    </div>
{% endblock %}